

@media (min-width:1200px){
    .signin-container {
    display: grid;
    
}
.signinimg {
    width: 900px;
    height: 900px;
}
.logo-container {
    display: flex;
    gap:10px;
    margin-top: 198px;
    flex-direction: column;
}
.logoImg {
    height: 48px;
    width: 48px;
}
.logo-header{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.signin-content{
    margin-top: 47px;
}
.have-account-container{
    display: flex;
    gap: 7px;
    justify-content: center;

}
label{
    margin: 16px 16px 8px 16px;
    font-size: 13px;
}
.form-control{
    padding: 14px 10px 14px 16px;
    height: 48px;
    background-color: #f2f2f2;
    
}
.form-control::placeholder{
    color: '#808080';
    font-size: 15px;
    
}

a{
    color: #007AFF;
    font-size: 12px;
    text-decoration: none;
    padding: 2px 0px;
}
.forgot-password{
    margin-top: 15px;
}
.signin-button{
    margin-top: 36px;
    background-color: #007AFF;
    color: white;
}


}

